h2{
    line-height: 20px;
    color: blueviolet;

}
.display img{

    border: 40rem;
    background-image: cover;
    border-radius: 1.85rem;
    border-color: blueviolet;
    
}
.banner img{
    background-repeat: no-repeat;
    background: url(./105322791-1531301768595gettyimages-467620670.webp);
    image-resolution: 500;


}